body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #ccc; 
}

header h1 {
    margin: 0;
    font-size: 28px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
    opacity: 1; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.container > * {
    flex: 1 1 45%;
    padding: 20px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    max-width: 600px; 
    margin: 0 auto; 
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; 
}

.contact-form input, .contact-form textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 3s infinite;
}

.contact-form button:hover {
    background-color: #45a049;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
      background-color: greenyellow;
    }
    100% {
      transform: scale(1);
    }
}

.section:hover {
    transform: scale(1.05);
}

.benefits ul {
    list-style: none;
    padding-left: 0; 
}

.benefits ul li {
    margin-bottom: 5px;
}
