body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: white;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    animation: animation 5s infinite;
    margin-top: 25%;
}

@keyframes animation{
    0%{
        width: 0px;
        height: 0px;
    }

    25%{
        width: 100px;
        height: 100px;
        background-color: rgb(86, 226, 43);
    }

    50%{
        width: 200px;
        height: 200px;
        background-color: blueviolet;
    }

    75%{
        width: 100px;
        height: 100px;
        background-color: rgb(43, 214, 226);
    }

    100%{
        width: 0px;
        height: 0px;
    }
}